* {
    box-sizing: border-box;
  }
  
/*Changed*/
.navbar {
    background-color: #92CCCE;
    display: inline;
    width: 200px;
    height: 100%;
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
    align-items: center;
}

/*add circle around avatar*/
.profile-pic img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 9px;
    margin-top: 22px;
}

/*come back to this*/
.profile-pic {
    border-radius: 50%;
 }

.nav-item a {
    font-weight: bold;
    color: white !important;
}

i {
    display: inline-block;
    margin-right: 1em;
  }


 /*------------------Hero section/jumbotron--------------------*/

.jumbotron-fluid {
    background: rgb(146,204,206);
    background: linear-gradient(90deg, rgba(146,204,206,1) 0%, rgba(9,108,155,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;

}
 /*Changed*/
.container {
    display: flex;
    max-width: 800px;
    max-height: 200px;
    margin-left: 25%;
    margin-top: 85px;
}

.container h1, p {
    color: white;

}

.container h1 {
    font-weight: bold;
}

.container p {
    font-size: 1.3em;

}

hr {
    position: relative;
    border: none;
    height: 5px;
    width: 235px;
    background: #096c9b;
    margin-bottom: 15px;
    margin-left: 2px;
}

 /*Changed*/
.bigpicture img {
    width: 350px;
    height: 350px;
    margin-top: -10px;   
} 

i {
    color:#096c9b;
}

.intro {
    font-size: 0.9em;
    color: white;
    margin-bottom: 15px;
    max-width: 280px;
}


 /*------------------cards--------------------*/

 .card-group {
    display: flex;
    margin-left: 200px;
 }


 /*add media screen for other sizes*/

@media screen and (min-width:1000px) {
    .navbar, .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

}

/*
@media screen and (min-width:768px) {
    .navbar, .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

   

    .navbar, .navbar-expand-lg, .navbar-dark,.fixed-top
    {
        padding-top: 0px;
    }

    }
 /*this is just indication to where 768 starts from*/








@media screen and (min-width:320px) {
    
 
}

/*---------------------------------------------------------------------*/