/*add media screen for other sizes*/

@media screen and (min-width:1000px) {
    .navbar, .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width:768px) {
    .navbar, .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        
    }
}

@media screen and (min-width:320px) {
    .navbar button {
        align-items: flex-start;
        flex-direction: column;
    }
}

/*---------------------------------------------------------------------*/
.navbar {
    width: 200px;
    height: 100vh;
    align-items: flex-start;
    margin-bottom: 0px;
}

.navbar-brand {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
    align-items: center;
}

/*add circle around avatar*/
.profile-pic img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 9px;
    margin-top: 22px;
}

.nav-item a {
    font-weight: bold;
    color: white !important;
}

i {
    display: inline-block;
    margin-right: 1em;
  }

.profile-pic {
    border-radius: 50%;
 }

 /*Hero section/jumbotron*/

.jumbotron-fluid {
    background-image: url(../images/pexels-miguel-á-padriñán-19670.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100vw;

}

hr {
    position: relative;
    border: none;
    height: 5px;
    width: 300px;
    background: #92CCCE;
    margin-bottom: 45px;
}